<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../assets/images/logo.png">
    <link rel="stylesheet" type="text/css" href="../assets/css/homeP.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/artistP.css">
    <title>Groupie-Tracker</title>
    <!--script-->
    <script src="https://maps.google.com/maps/api/js?sensor=false"></script>

</head>

<body>
    <!--header-->
    <hd>
        <nav>
            <ul>
                <li><a href="/home.html">Groupie-Tracker</a></li>
                <li><a href="#map">Map</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="/pages/tracker">Tracker</a></li>
            </ul>
        </nav>
    </hd>
    <!-- container loop -->
    {{range $artist := .Artiste}}
    <section id="about" class="cont_art">
        <img src="{{$artist.Image}}" width="300" height="300">
        <div class="art_cont">

            <h3>{{$artist.Name}}</h3>
            {{if not (eq (len $artist.Members) 1)}}
            <p>This group has {{$artist.Membersstr}} as members.</p>
            {{end}}

            <p>{{$artist.Name}} was introduced to the public in {{$artist.CreationDate}} and their first album came out in {{$artist.FirstAlbum}}</p>
            <br>
            <h2>{{$artist.Name}} went on a tour !</h2>
            <p>Here are the dates on which he performed.</p>
            <p>Check this map to see where he went !</p>

        </div>
        <!--map > id-->
        <div class="mapi">
            <div id="map"></div>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCY6URKmXOSN-drYEZtpu2w_aiiA6QwwWU&callback=initMap&libraries=&v=weekly" async></script>
        </div>
        <!--script script-->
        {{$artist.JsString}}
    </section> {{end}}
    <br><br>
    <!--footer-->
    <div class="fontF">
        <div class="leftF">
            <p>Copyright © Groupie-Tracker 2021</p>
        </div>
        <div class="rightF">
            <ul class="Groupie">
                <li>
                    <p>A groupie? What's this ?</p><br>
                </li>
                <p>Young unconditional admirer (often admirer) of a singer, a music group; by extension of a person.</p><br>
            </ul>
        </div>
    </div>

</html>